<div class="container-fluid">
  <div class="top" style="text-align:center">
    <h1>Inspiratio</h1>
    <img  class="one"src="https://i.imgur.com/DnfaRoF.jpg" alt="" width="100px" height="80px">
    <h3>Welcome to Motivational & Inspirational Quotes!</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>My Quotes</h4>
      <ul>
        <div *ngFor='let quote of quotes;let i = index'>
             <li>{{quote.name}} published on {{quote.completeDate|date|uppercase}}</li>
            <button (click)='toggleDetails(i)' class="btn btn-outline-primary">See Quote</button>
       <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteGoal($event,i)'></app-quote-details>
       </div>
      </ul>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
    <p *ngIf='quotes.length > 5'>Your quotes are too many quotes.</p>
</div>