.top{
    background-color: grey;
  }
  .one{
    border-radius: 50%;
  }
  ul{
    list-style-type: none;
  }
  .row{
    background-image: url('https://images.pexels.com/photos/34435/pexels-photo.jpg?cs=srgb&dl=black-and-white-branch-cherry-blossom-34435.jpg&fm=jpg');
    margin: 4px;
  }