@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

*{
    font-family: 'Indie Flower', cursive;
}
#form{
    width: 100%;
    
    font-family: 'Indie Flower', cursive;
}


#form input,#form textarea{
    width: 50%;
    
}
input{
    left: 50%;
}
@media only screen and (max:width= 450px){
    #form{
        width: 100%;
    }
}